target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
release
release.zip
### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store!/release/
!/release/
/release/conf/
/release/conf/cn/
/release/conf/META-INF/
/release/conf/bg.png
/release/conf/bootstrapfx.css
/release/conf/sql.properties
/release/lib/
/release/lib/javafx-sdk-17.0.6/
/release/lib/apiguardian-api-1.1.2.jar
/release/lib/BankSystem.jar
/release/lib/bootstrapfx-core-0.4.0.jar
/release/lib/commons-codec-1.10.jar
/release/lib/commons-logging-1.2.jar
/release/lib/core-3.3.0.jar
/release/lib/druid-1.2.15.jar
/release/lib/googleauth-1.1.2.jar
/release/lib/httpclient-4.5.3.jar
/release/lib/httpcore-4.4.6.jar
/release/lib/jackson-annotations-2.9.0.jar
/release/lib/jackson-core-2.9.6.jar
/release/lib/jackson-databind-2.9.6.jar
/release/lib/javafx-base-17.0.1.jar
/release/lib/javafx-base-17.0.1-win.jar
/release/lib/javafx-controls-17.0.1.jar
/release/lib/javafx-controls-17.0.1-win.jar
/release/lib/javafx-fxml-17.0.1.jar
/release/lib/javafx-fxml-17.0.1-win.jar
/release/lib/javafx-graphics-17.0.1.jar
/release/lib/javafx-graphics-17.0.1-win.jar
/release/lib/jbcrypt-0.4.jar
/release/lib/jjwt-0.9.1.jar
/release/lib/junit-jupiter-api-5.8.2.jar
/release/lib/junit-jupiter-engine-5.8.2.jar
/release/lib/junit-platform-commons-1.8.2.jar
/release/lib/junit-platform-engine-1.8.2.jar
/release/lib/mysql-connector-java-8.0.30.jar
/release/lib/opentest4j-1.2.0.jar
/release/lib/protobuf-java-3.19.4.jar
/release/src/
/release/src/main/
/release/src/main/resources/
/release/src/main/resources/cn/
/release/src/main/resources/META-INF/
/release/src/main/resources/bg.png
/release/src/main/resources/bootstrapfx.css
/release/src/main/resources/sql.properties
/release/BankSystem.jar
/release/run.cmd
